<section class="quiz-window">
    <nav>
        <div class="row navbar">     
            <h2>{{ quizes[quizId-1].subName }}</h2>
            <div class="navbar-right">
                <ul>
                    <li><a routerLink='' class="button">home</a></li>
                    <li><a routerLink='' class="button">submit</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row ques-tiles">
        <a href="#" class="tile">1</a>
        <a href="#" class="tile">2</a>
        <a href="#" class="tile">3</a>
    </div>

    <div class="row ques-box-container">
        <div class="ques-box">
            <div class="ques-text clearfix">
                <div id="ques-marker">Q.</div>
                <div id="ques">{{ quizes[quizId-1].questions[currentQues].quesText }}</div>
            </div>
            <div class="ques-choices">
                <label class="container" *ngFor = "let choice of quizes[quizId-1].questions[currentQues].choices">{{ choice.choiceText }}
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
        <div class="btn-nav">
            <a href="#" class="button">prev</a>
            <a href="#" class="button">next</a>
        </div>
    </div>
</section>
