/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
}

.quiz-window {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../../assets/img/steve-johnson-5Oe8KFH5998-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 250%;
    word-spacing: 3px;
    text-transform: uppercase;
}

.row {
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}

a {
    text-decoration: none;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* NAV-BAR */

nav {
    height: 20%;
}

.navbar-right {
    float: right;
}

.navbar-right ul {
    list-style: none;
}

.navbar-right li {
    display: inline-block;
}

.btn {
    border: 1px solid #bf6516;
    border-radius: 200px;
    margin: 20px;
    padding: 7.5px 15px;
    font-size: 90%;
    font-weight: 300;
    transition: background-color 0.2s, border 0.2s;
}

.btn:hover {
    background-color: #bf6516;
    border: 1px solid #bf6516;
    color: #fff;
}

/* QUES-TILES */

.ques-tiles {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    border: 1px solid #a7a7a7;
    margin: 0px 10px;
    padding: 1.5px 7px;
    text-align: center;
    border-radius: 5px;
}

.tile:hover,
.tile:active {
    border: 1px solid #e67e22;
    color: #e67e22;
    transition: border 0.2s, color 0.2s;
}


/* QUES-BOX */

.ques-box-container {
    height: 60%;
    display: flex;
    justify-content: center;
}

.ques-box {
    display: block;
    padding: 0 20%;
    /* width: 60%;
    margin: 0 auto; */
}

.ques-text {
    display: block;
    margin-bottom: 30px;
}

#ques-marker {
    width: 10%;
    /* height: 100%; */
    float: left;
    text-align: center;
}

#ques {
    width: 90%;
    font-size: 120%;
    float: left;
}

.ques-choices {
    display: block;
    padding: 30px;
}

.btn-nav {
    display: block;
}

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #8d8b8b;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #e67e22;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
      transform: translate(-50%, -50%);
  }