<section class="quiz-window">
    <nav>
        <div class="row navbar">     
            <h2>{{ quiz.subName }}</h2>
            <div class="navbar-right">
                <ul>
                    <li><a routerLink='' class="button">home</a></li>
                    <li><a routerLink='' (click)="onSubmit()" class="button">submit</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row ques-tiles">
        <a *ngFor="let tile of tiles; let i=index" [routerLink]="" (click)="tileAccess(i)" class="tile" [ngClass]="{'active': tile.isCurrent==true}">{{i+1}}</a>
    </div>

    <div class="row ques-box-container">
        <div class="ques-box">
            <div class="ques-text clearfix">
                <div id="ques-marker">Q.</div>
                <div id="ques">{{ quiz.questions[currentQues].quesText }}</div>
            </div>
            <div class="ques-choices">
                <label class="container" *ngFor = "let choice of quiz.questions[currentQues].choices">{{ choice.choiceText }}
                    <!-- test -->
                    <input type="radio" name="radio" value="{{ choice.choiceId }}"  (change)="radioChangeHandler(choice)">
                    <!-- <input type="radio" name="radio"> -->
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
    </div>
    <div class="navbar-right navbar-footer-right">
        <ul>
            <li>
                <a [routerLink]="" *ngIf="currentQues > 0" (click)="prevQues()" class="button">prev</a>
            </li>
            <li>
                <a [routerLink]="" *ngIf="currentQues < quiz.questions.length-1" (click)="nextQues()" class="button">next</a>
            </li>
        </ul>
    </div>
</section>
